body{
  background-color:rgb(3, 3, 75);
  color:white;
}

img{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

h1{
  text-align:center;
}

#outer-phone{
  background-color:black;
  width:400px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius:30px;
  padding:10px 0px;
  height:700px;
}

#phone{
  display:flex;
  justify-content:center;
  align-items:center;
}

#camera{
  background-color:black;
  border-radius:20px;
  width:120px;
  height:30px;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
}

#screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 30px;
  width: 350px;
  height: 660px;
  padding: 20px 10px;
}

.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  max-height:100%;
  width:100%;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px; 
}

h3{
  margin-top:0px;
  margin-bottom:10px;
}

#user-input{
  border-radius:30px;
  background-color:rgb(243, 228, 228);
  width:200px;
  height:30px;
  font-size:20px;
}

button{
  width:120px;
  height:50px;
  margin-bottom:30px;
  border-radius:20px;
}

#results-div{
  font-family:bold;
}